.page {
  height: 100vh;
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
}
.darkMode {
  background-color: #212529
}
.TodoApp-main {
  border-radius: 45px;
  background: #d6d6d6;
  box-shadow: inset 5px -5px 10px #a3a3a3, inset -5px 5px 10px #ffffff;
  border-radius: 1em;
  height: 100vh;
  width: 30%;
  margin: 2em 0;
  overflow: hidden;
  position: relative;
}
.main-darkMode{
  background: #bfbfbf;
}
.fa-plus {
  font-size: 4em;
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  cursor: pointer;
}


@media only screen and (min-width: 320px) and (max-width: 767px){
  .TodoApp-main{
    width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .TodoApp-main{
    width: 60%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .TodoApp-main{
    width: 50%;
  }
}